@model CurrencyViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<form role="form" id="addForm" method="post">
    <div class="form-group">
        <div class="form-label-group">
            @Html.Label(nameof(Model.SourceCurrencyId), "Currency")
            @Html.DropDownList(nameof(Model.SourceCurrencyId), Model.CurrencyTypes, "Source Currency", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="form-label-group">
            @Html.Label(nameof(Model.TargetCurrencyId), "Currency")
            @Html.DropDownList(nameof(Model.TargetCurrencyId), Model.CurrencyTypes, "Target Currency", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="form-label-group">
            @Html.Label(nameof(Model.Amount), "Amount")
            @Html.TextBox(nameof(Model.Amount), String.Empty, new { @class = "form-control", type = "text" })
        </div>
    </div>
    <button name="submit" id="submit" value="" type="submit" class="btn btn-large btn-primary btn-block">Add</button>

    <div class="convertedCurrency card">
        <h2>Your amount</h2>
        <h3></h3>
    </div>
</form>

<script>
$(document).ready(function () {
    $("#addForm").validate({
        rules: {
            Amount: {
                required: true,
                number: true,
            },
            TargetCurrencyId: {
                required: true,
            },
            SourceCurrencyId: {
                required: true,
            }
        },
        highlight: function (element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        messages: {
            Amount: {
                required: "The amount field is required",
                number: "Please enter a number"
            },
            SourceCurrencyId: {
                required: "Please select a source currency",
            },
            TargetCurrencyId: {
                required: "Please select a target currency",
            },
        },
        submitHandler: function (form) {
            var model = {
                sourceCurrency: $("#SourceCurrencyId option:selected").text(),
                targetCurrency: $("#TargetCurrencyId option:selected").text(),
                amount: $("#Amount").val()
            }
            $.ajax({
                type: "POST",
                url: "@Url.Action("Index", "Currency")",
                data: { model: model },
                dataType: 'json',
                success: function (response) {
                    $(".convertedCurrency h3").html(response.amount);
                },
                error: function (response) {
                    $(".convertedCurrency h3").html("An error occurred, please check your input and try again");
                }
            });
            return false; // required to block normal submit since you used ajax
        }
    });
})
</script>